{% extends 'base.html.twig' %}

{% block title %}Formations index
{% endblock %}

{% block body %}
	<h1>Formations disponibles</h1>

	<table class="table table-responsive-md">
		<thead class="thead-light">
			<tr>
				{# <th>Id</th> #}
				<th>Titre</th>
				<th>Résumé</th>
				<th>Déscription</th>
				<th>Durée</th>
				<th>Niveau</th>
				<th>Lieu</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for formation in formations %}
				<tr class="{{ formation.niveau | lower }}">
					{# <td>{{ formation.id }}</td> #}
					<td>{{ formation.titre }}</td>
					<td>{{ formation.resume }}</td>
					<td>{{ formation.textexplicatif }}</td>
					<td>{{ formation.duration }}</td>
					<td>{{ formation.niveau }}</td>
					<td>{{ formation.lieu }}</td>
					<td>
						<a href="{{ path('app_formations_show', {'id': formation.id}) }}" class="btn btn-primary btn-sm">show</a>
						<a href="{{ path('app_formations_edit', {'id': formation.id}) }}" class="btn btn-secondary btn-sm">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="8">Aucun enregistrement trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_formations_new') }}"  class="btn btn-success">Create new</a>
{% endblock %}
